*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  .todo{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/img/fondo3.jpg);
    background-size: cover;
    background-position: center;
  }
  .logo{
    color: white;
    font-size: 28px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: #ea1538;
    transition: .3;
  }
  